span {
  color: green
}

h2 {
  color: #faad14;
}

#second_h2 {
  color: blue;
}

.group1 {
  color: #faad14;
}

.group2 {
  color: salmon;
}

#first_h1 {
  color: darkred;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}